<div class="flex items-center justify-between bg-gray-800 px-6 py-3 shadow-md sticky top-0 z-50">
  <!-- Left side: Logo -->
  <div class="flex items-center space-x-4 cursor-pointer" (click)="goTo('blog')">
    <!-- Logo -->
    <img
      src="https://images.squarespace-cdn.com/content/v1/59d7fb02c027d8973ddee354/d4295c8b-89da-4cdd-b49c-62f4d62191b1/LogoGif2021.gif"
      alt="Logo"
      class="h-9 w-full object-contain"
    />
  </div>
  <!-- Right side: Avatar -->
  <div class="flex justify-between space-x-24">
    <div class="flex space-x-4">
      <div
        [ngClass]="{
          'border-b-2 border-white': isActive('blogs'),
        }"
        class="text-white cursor-pointer hover:text-blue-300 transition-colors duration-200"
        [innerText]="'Blog'"
        (click)="goTo('blog')"
      ></div>
      <div
        [ngClass]="{
          'border-b-2 border-white': isActive('photo-archive'),
        }"
        class="text-white cursor-pointer hover:text-blue-300 transition-colors duration-200"
        [innerText]="'Photo Archive'"
        (click)="goTo('photo-archive')"
      ></div>
    </div>

    <!-- Avatar with dropdown -->
    <div class="flex items-center" (click)="toggleDropdown()" tabindex="0" (blur)="closeDropdown()">
      <div class="mr-2 cursor-pointer">
        <app-profile-pic
          [name]="userDetails.username"
          [imageUrl]="
            !userDetails.username
              ? 'https://png.pngtree.com/png-clipart/20210915/ourmid/pngtree-user-avatar-placeholder-black-png-image_3918427.jpg'
              : null
          "
          [size]="'xs'"
        ></app-profile-pic>
      </div>
      @if (userDetails.username) {
        <div class="text-white text-bold cursor-pointer" [innerText]="userDetails.username"></div>
      }

      <!-- Dropdown -->
      @if (isDropdownOpen) {
        <div class="absolute right-1 mt-28 w-32 bg-white border rounded-md shadow-lg py-1 z-50">
          <button
            (click)="userDetails.username ? logout() : login()"
            class="block w-full text-left px-4 py-2 hover:bg-gray-100 text-gray-600"
            [innerText]="userDetails.username ? 'Logout' : 'Login'"
          ></button>
        </div>
      }
    </div>
  </div>
</div>
