<div
  class="flex items-center justify-center rounded-full overflow-hidden bg-gray-300 font-bold text-base text-gray-800 uppercase p-4"
  [ngClass]="sizeClass"
  [ngStyle]="{ width: size, height: size, backgroundColor: bgColor }"
>
  @if (imageUrl) {
    <img
      class="rounded-full object-cover"
      [src]="imageUrl"
      [alt]="name"
      [ngStyle]="{ width: size, height: size }"
    />
  } @else {
    <div [ngStyle]="{ width: size, height: size }">
      {{ initials }}
    </div>
  }
</div>
