@if (pageLoader) {
  <app-page-loader />
} @else {
  <div class="p-6">
    <h2 class="text-3xl font-bold text-center mb-8 text-gray-800">
      Photo Albums
    </h2>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      @for (album of albums; track $index) {
        <div
          class="rounded-xl shadow-md hover:shadow-xl bg-gradient-to-br from-indigo-100 to-white transition-all duration-200 p-5 border border-indigo-200 hover:scale-[1.02] cursor-pointer"
          (click)="goToPhotos(album.id)"
        >
          <div class="flex items-center space-x-4">
            <div
              class="w-12 h-12 rounded-full flex items-center justify-center text-white font-bold text-xl"
            >
              <img
                class="rounded-full"
                src="https://play-lh.googleusercontent.com/U-Jq1qOTNrgUkjxNZxLds0occht98nDE-W_2z9ySmQKVCoGXq4fEsl1FmP4Z4OHsIfw=w600-h300-pc0xffffff-pd"
              />
            </div>
            <div class="text-indigo-800 font-medium">
              <p class="text-lg line-clamp-2">{{ album.title }}</p>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
